[Desktop Entry]
Encoding=UTF-8
Name=Gust
Comment=Gust P2P Cryptocurrency
Comment[fr]=Gust, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gust, eşten eşe kriptografik sanal para birimi
Exec=gust-qt %u
Terminal=false
Type=Application
Icon=gust128
MimeType=x-scheme-handler/gust;
Categories=Office;Finance;
