[Unit]
Description=Gust's distributed currency daemon
After=network.target

[Service]
User=gustcore
Group=gustcore

Type=forking
PIDFile=/var/lib/gustd/gustd.pid
ExecStart=/usr/bin/gustd -daemon -pid=/var/lib/gustd/gustd.pid \
-conf=/etc/gustcore/gust.conf -datadir=/var/lib/gustd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
